.movie-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.movie-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 200px;
}

.movie-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.movie-item h3 {
  margin: 0 0 10px 0;
  color: var(--primary);
}

.movie-item p {
  margin: 5px 0;
  color: #666;
}

.movie-item .content {
  flex-grow: 1;
}

.movie-item .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.movie-item .actions button,
.movie-item .actions a {
  flex: 1;
  text-align: center;
  margin: 0 5px;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.movie-item .actions button:hover,
.movie-item .actions a:hover {
  background-color: #1aa762;
}

@media (min-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
